body {
    background-image: url("../images/popcorn.jpg");
    background-size: cover;
}

.header {
    height: 120px;
    font-family: 'Contrail One', cursive;
    font-weight: 500;
    color: rgb(63, 231, 253);  
}

.carousel-caption {
    top: 0;
    padding-top: 230px;
    font-weight: bold;
    color: rgb(63, 231, 253);  
    text-shadow:1.5px 1.5px 1.5px black;
    font-size: 17px; 
    left: 5%;
    right: 5%;
}
.carousel {
    margin-bottom: 30px;
}

.form-control {
    
    border-radius: 50px;
    color: rgb(63, 231, 253);
}

.btn { 
    background-color: grey;
    color: rgb(63, 231, 253);
    border-radius: 50px;
    font-size: 18px;
}

.movieSorter {
    
    opacity: .9;
}

#title {
    color: rgb(63, 231, 253);
    font-size: 40px;
}

.movieSorter {
    font-family: 'Contrail One', cursive;
}

.movieSelection {
    width: 30%;    
    color: rgb(63, 231, 253) !important;
    font-size: 28px;
}
.nav-item {
    padding: 20px 65px 20px 65px;
    font-size: 20px;
}

.card-deck {
    margin-top: 30px;
}

.navbar {
    border-radius: 50px;
    opacity: .9;
}

.nav-item {
    text-align: center;
}

.carousel-inner {
    border-radius: 50px;
    height: 380px;
}

.card {
    border-radius: 50px;
    padding: 220px 150px;
    border-radius: 50px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======

>>>>>>> 0cb9254309b6342f2fad8eb3fa52dad03c369ee8
/* actual images of movies */


>>>>>>> 75733a0890c49693a695d3777bbeebfc7581780a
.row {
    margin: auto;
    margin-bottom: 30px;
  
}
<<<<<<< HEAD

.card-deck {
    justify-content: center;
}

<<<<<<< HEAD

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .fadeIn-right{
    left: 80%;
  }
=======
=======
>>>>>>> 0cb9254309b6342f2fad8eb3fa52dad03c369ee8
.fab {
    padding: 0 10px;
}

.icons a {
    color: rgb(63, 231, 253) !important;

}
/* Media Queries for resizing images */

@media only screen and (max-width: 1160px) {
    .row {
        column-count: 3;
    }

    .card {
        padding: 180px 120px;
    }
    .carousel-caption {
        padding-top: 150px;
    }

}

@media only screen and (max-width: 980px) {
    .card {
        padding: 170px 100px;
    }

    .carousel-caption {
        padding-top: 150px;
    }
}



@media only screen and (max-width: 910px) {
    .card {
        padding: 150px 80px;
    }

    #carousel-container {
        display:none !important;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        margin: 20px auto 30px auto;
        width: 70%; 
        padding: 200px 60px; 
    }

    #title {
        text-align: center;
        margin: auto;
    }

    .icons {
        margin: auto;
    }
}

/* comments page */
.form-control {
   
    background-color: #272B30;
    opacity: .9;
    color:rgb(63, 231, 253) !important;

}
.form-control:valid {
    
    margin: auto;
    background-color: #272B30 !important;
    opacity: .9;
    color: rgb(63, 231, 253) !important;

    
}

.textarea.form-control {
    background-color: #272B30 !important;

}

form {
    width: 70%;
    margin: auto;
}

<<<<<<< HEAD
>>>>>>> 75733a0890c49693a695d3777bbeebfc7581780a
=======
#reviewSubmit {
    margin: auto !important;
}
>>>>>>> 0cb9254309b6342f2fad8eb3fa52dad03c369ee8
