body {
    background-image: url("../images/popcorn.jpg");
    background-size: cover;
}

.header {
    height: 120px;
    font-family: 'Contrail One', cursive;
    font-weight: 500;
    color: rgb(63, 231, 253);
    opacity: .9;
}

/* need to fix so searchbar shows placeholder, stays grey */
.form-control {
    background-color: grey;
}

.btn { 
    background-color: grey;
    color: rgb(63, 231, 253);

}

.movieSorter {
    margin-top: 20px;
    opacity: .9;
}

#title {
    color: rgb(63, 231, 253);
    font-size: 40px;
}

.movieSorter {
    font-family: 'Contrail One', cursive;
}

.movieSelection {
    width: 30%;    
    color: rgb(63, 231, 253) !important;
    font-size: 28px;
    /* text-align: center; */

}

.newReleases {
  
}

.upcomingReleases {
  
}

.highestReviewed {
   
}

.nav-item {
    font-size: 20px;
    /* margin: 0 30px 0  */
}

.card-deck {
    margin-top: 30px;
}

.navbar-inner, .navbar .btn-navbar {

    border: 0px;
}